* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
      background-repeat: no-repeat;
     background-color: #23252C;     
}

.info{
    text-align: center;
    color: #FFFFFF;
}
.info > h3{
    color: #F3BF99;
    font-family: fantasy;
}

.about{
    text-align: center;
    color: #FFFFFF;
}
.interest{
    text-align: center;
    color: #FFFFFF;
}
.footer{
left: 116px;
top: 760px;
padding: 10px;
background: #161619;
border-radius: 0px 0px 10px 10px;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  align-items: center;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}


/* Facebook */
.fa-instagram {
  padding-left: 20px;
  border-radius: 10px;
  color: white;
}

/* Twitter */
.fa-twitter {
  padding-left: 20px;
  border-radius: 10px;
  color: white;
}
.fa-linkedin {
  color: white;
  border-radius: 10px;
}
.fa-github{
   padding-left: 20px;
  border-radius: 10px;
  color: white;
}
/* buttons from info */
.btn2{
    margin-left: 50px;
    background: #007bb5;
    border-radius: 10px;
    
}
.btn{
     margin-right: 40px;
    border-radius: 10px;
}